/* Color Pallete
#2B2D42 - dark blue
#EDF2F4 - blue/white
#8D99AE - light blue
#EF233C - red

*/
/* Bootstrap customization 
----------------------------*/

.img-profile {
    width: 100px;
    height: auto;  
}

@media (min-width: 768px) {
    .img-profile {
        width: 150px;         
    }
    .vcenter {
        display: inline-block;
        vertical-align: middle;
        float: none;
    }
    
}

@media (min-width: 992px) {
    .img-profile {
        
        width: 200px;    
    }
}

@media (min-width: 1200px) {
    .img-profile {        
        width: 250px;       
    }  
}


hr {
    display: block;
   position: relative;
   padding: 0;
   margin: 8px auto;
   margin-top: 16px;
   height: 0;
   width: 80%;
   max-height: 0;
   font-size: 1px;
   line-height: 0;
   clear: both;
   border: none;
   border-top: 1px solid #aaaaaa;
   border-bottom: 1px solid #ffffff;
}


/*
Global styles
-----------------------------*/

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {    
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding-top: 50px;
    background: #eceff1;
}

/*a {
    color: #EF233C;
}
*/
a:hover{
    text-decoration: none;
}
h1, h2 {
    font-family: 'Caveat', serif;
    /* font-weight: 400;*/
}
h1{
    font-size: 4.5em;
}

h2 {
    font-size: 3em;
/*    margin-top: 0;*/
}

h3 {
    font-size: 1.5em;
    margin: 0;
}

/*
h3 ~ p {
    margin-bottom: 20px;
}
*/
section {
    padding-bottom: 1.5%;
}

h1 ~ h2 ~ p {
    margin-top: 1%;
    text-align: center;
}


.btn {
    text-decoration: none;
    background: #EF233C;
    color: white;
    padding: 10px;
/*    display: inline-block;        */
}

.download{
    position: fixed;
    bottom:10px;
    right: 10px;
    border-radius: 3px;
}
/*
Header and Footer
-----------------------------*/
header, footer {
    background:#2B2D42; 
    color: #8D99AE;
}
/* header */
header {
    padding: 50px 0 30px 0;
/*    position: relative;*/
}

header h1, header h2{
    color: #EDF2F4;
    margin: 0;
   /* font-family: 'Caveat', cursive;*/
}

.copyright{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 0.9em;
    text-align: center;
   
}

.fa {
    font-size: 1.5em;
    color:#EF233C;
    padding: 0 1%;
}

p+h3 {
    margin-top: 20px;
}